---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About me',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero tagline="">
    <Fragment slot="title">
      Peter Witham<br/>
      <span class="text-xl text-red-600 tracking-normal">Developer, Podcaster, Streamer</span>
    </Fragment>
  </Hero>
  <!-- Features3 Widget ************** -->
  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'App Maker',
        description:
          'Creating mobile applications of various kinds is my expertise and primary motivation. Whether it involves catering to a vast user population or developing personalized applications, I approach each project with unwavering enthusiasm and meticulous attention to detail.',
        icon: 'tabler:device-mobile-check',
      },
      {
        title: 'Blogger',
        description:
          'I enjoy sharing all the knowledge I acquire with others. It\'s my way of giving back to the communities that have supported me in developing my skills and pursuing my passions.',
        icon: 'tabler:file-like',
      },
      {
        title: 'Podcast Creator',
        description:
          'I really enjoy listening to and making Podcasts. At the moment, I am producing three of them. Two are focused on programming, while the third one revolves around creative thinking and motivation.',
        icon: 'tabler:wave-sine',
      },
      {
        title: 'Photography',
        description:
          'I have been capturing moments through photography since I was very young. Even after many years of working as a professional, I still consider it more of a hobby. I often use it to enhance my content creation.',
        icon: 'tabler:video',
      },
      {
        title: 'Live streamer',
          description:
          'I think live streaming is a fantastic way to connect with people and exchange knowledge. I am really enthusiastic about sharing with communities. Additionally, I enjoy being publicly accountable for the things I commit to.',
        icon: 'tabler:brand-twitch',
      },
      {
        title: 'Game Creation',
        description:
          'Being a passionate gamer since the very beginning of electronic games, I love creating games for enjoyment and frequently sharing the experience with others.',
        icon: 'tabler:device-gamepad-2',
      },
    ]}
  />
</Layout>
