---
import ContactUs from "~/components/widgets/Contact.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import Layout from "~/layouts/PageLayout.astro";

const metadata = {
	title: "Contact",
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="" title="Contact Me" />

  <section class="w-full">
    <div class="flex mx-auto max-w-9xl justify-center">
        <div class="w-full lg:w-6/12 xl:w-5/12">
            <div class="flex flex-col items-start justify-start w-full h-full p-10">
                <form name="contact" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" class="w-full">
                    <div hidden>
                        <label>
                            Don’t fill this out: <input name="bot-field" />
                        </label>
                    </div>
                    <div class="relative w-full mt-10 space-y-8">
                        <div class="relative">
                            <label class="font-medium text-gray-500">Name</label>
                            <input type="text" name="name" class="block w-full px-4 py-4 mt-2 text-xl
                            placeholder-gray-400 bg-gray-200 dark: text-black rounded-lg focus:outline-none
                            focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50"
                            placeholder="Enter Your Name">
                        </div>
                        <div class="relative">
                            <label class="font-medium text-gray-500">Email</label>
                            <input type="email" name="email" class="block w-full px-4 py-4 mt-2 text-xl
                            placeholder-gray-400 bg-gray-200 dark: text-black  rounded-lg focus:outline-none
                            focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50"
                            placeholder="Enter Your Email Address">
                        </div>
                        <div class="relative">
                            <label class="font-medium text-gray-500">Message</label>
                            <textarea name="message" rows="6" class="block w-full px-4 py-4 mt-2 text-xl
                            placeholder-gray-400 bg-gray-200 dark: text-black  rounded-lg focus:outline-none
                            focus:ring-4 focus:ring-blue-600 focus:ring-opacity-50"
                            placeholder="Enter message" />
                        </div>
                        <div class="relative">
                            <button type="submit" class="inline-block w-full px-5 py-4 text-lg font-medium
                            text-center text-white transition duration-200 bg-blue-600 rounded-lg
                            hover:bg-blue-700 ease">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</Layout>
