---
import Layout from "~/layouts/PageLayout.astro";

import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Hero from "~/components/widgets/Hero.astro";

const metadata = {
	title: "Peter Witham - Developer, Podcaster, Streamer",
	ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'About Me',
        href: '/about',
        target: '_self',
        icon: 'tabler:user-circle',
      },
      { text: 'Contact', href: '/contact' },
    ]}
  >
    <Fragment slot="title">
      <span class="tracking-wide">Inspire &#123; <span class="text-red-500">Create</span> &#125; Ship</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      <br/>
      <br/>
        <span class="font-semibold mr-2">Hi there!</span> I am obsessed with making great things</span>
        <br/>
        <br/>
        <br/>
    </Fragment>
  </Hero>
  <!-- Highlighted Actions Widgets ******* -->
  <div class="flex mx-auto max-w-9xl justify-center pt-20">
  <div class="flex flex-col rounded-2xl w-96 bg-[#a4cde4] shadow-xl">
  <a href="https://peterwitham.com/gdvideo">
  <figure class="flex justify-center items-center rounded-2xl">
      <img src="/images/cards/gdvideo-pr.webp" alt="Card Preview" class="rounded-t-2xl">
  </figure>
  </a>
  </div>
  </div>
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Latest Blog Posts" information={``}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact me',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail-filled',
      },
    ]}
  >
    <Fragment slot="title">
      Let's Talk
    </Fragment>

    <Fragment slot="subtitle">
      I love to help folks get where they want to be, whether it's an app or spreading some cheer on my Podcasts. So why not reach out and let's start a conversation today.
    </Fragment>
  </CallToAction>
</Layout>
