<div style="padding-left: 20px; padding-bottom: 40px; float: left;">
<p style="font-weight: bold; padding-bottom: 10px;">Affiliate links</p>
<div style="background-color:white; border-radius: 20px; margin-bottom: 10px;">
<a href="/cmm" target="_blank">
<image
src="/images/affiliates/cmm_logo_horizontal.png"
style="width:150px; height: 50px;">
</a>
</div>
<div style="background-color:white; border-radius: 20px;">
<a href="/setapp" target="_blank">
<image
src="/images/affiliates/setapp-logo.svg"
style="padding-left: 10px; width:100px;  height: 50px; background-color:white; border-radius: 20px;">
</a>
</div>
</div>
